!!!
html
  head
    title= title
    link(rel='stylesheet', media='screen, projection', href='/stylesheets/screen.css')
    link(rel='stylesheet', media='print', href='/stylesheets/print.css')
    //if IE
      link(rel='stylesheet', media='print', href='/stylesheets/ie.css')
  body!= body
