h1 select a username/email

if typeof errors != 'undefined'
  .errors
    #{errors}

form(action='/users', method='post')
  .control-group
    label name
    .controls
      input(type='text', name='name', value=user.name)
  .control-group
    label email
    .controls
      input(type='text', name='email', value=user.email)
  if user.flattr.username != ""
    .control-group
      label flattr username
      .controls
        input(type='text', name='name', value=user.flattr.username)

  .actions
    input(type='submit')
