
h1 create a craft

if typeof errors != 'undefined'
  .errors
    #{errors}

form(action='/crafts', method='post')
  div.control-group
    label title
    div.controls
      input(type='text', name='title')

  div.control-group
    label url
    div.controls
      input(type='text', name='url')

  div.control-group
    label description
    div.controls
      input(type='text', name='description')

  div.control-group
    label craft type
    div.controls
      select(name='craft_type')
        option(value='person') person
        option(value='stream') streams

  .actions
    input(type='submit', class='btn btn-primary')
